body {text-align: center;
    background-color:  #0d002c;}

h1 {font-family: 'Alfa Slab One';
    color: wheat;}

.buttons{border: 1em solid rgb(51, 51, 51);
        position: relative;
        margin: 0 auto;
        width: 42.4em;
        height: 5.3em;
        padding: 2em;
        border-radius: 5em;
        background-image: url(imagenes/earth.jpg);
        }

.buttons:after  {
    clear: both;   
    display: inline-table;
    content: "";
}


.button {
    float: center;
    padding: 2em;
    position: relative;
    width: 10em;
    text-align: center;
    font-family: 'Press Start 2P';
}

#flags {background-color: coral;}

#map {background-color: chartreuse;}

#start{background-color: aquamarine;}

#content {
    width: 1100px;
    height: 680px;
    border:  rgb(71, 0, 119);;
}