body{
  margin: 0 auto;
}

.banderas {
    width: 200px;
    height: 140px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(51, 50, 49);
    color: white;
    font-family: 'Amatic SC', cursive;  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #080808}
  
  th {
    background-color: coral;
    color: white;
    font-size: 1.5em;
  }